#mydiv {
  color: #f00;
}
.public {
  width: 100px;
  height: 100px;
}
.nav ul {
  width: 100px;
  height: 100px;
  list-style: none;
}
#mydiv {
  color: #f00;
}
.public {
  width: 100px;
  height: 100px;
}
.nav ul {
  width: 100px;
  height: 100px;
  list-style: none;
}
